.searcherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Searcher {
  width: 50vw;
  margin-top: 1rem;
}

.noFoundMsgContainer {
  display: flex;
  justify-content: center;
}

.noFoundMsg {
  color: #934ACC;
  margin-top: 1rem;
}


/* MEDIA QUERIES */

@media (max-width: 700px) {
  .Searcher {
    width: 60vw;
  }
}

@media (max-width: 480px) {
  .Searcher {
    width: 85vw;
  }
}